{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner-slider %}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/iitbhub1-transformed.jpeg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/iitbhub2-transformed.jpeg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/iitbhub3-transformed.jpeg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/iitbhub4-transformed.jpeg' %}" class="d-block w-100" alt="banner image">
      </div>
    </div>
  </div>
{% endblock banner-slider %}

{% block information %}
<div class="container">
    <div class="row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class="fs-5">IIT(BHU) Merchandise offers a wide variety of accessories like bags,clothing and ware products with the branding of this glorious institute which is more than 100+ years to its legacy. </small>
    </div>
</div>
{% endblock information %}

{% block main-content %}
    <div class="container">
        <h2 class="text-center">IIT(BHU) Merchandise</h2>
        <br><br>
        <div class="row container">
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                  <a href="{% url 'category' 'CR' %}">
                    <div class="goodnessseccont text-center">
                      <img src="{% static 'app/images/product/clothingdisplay.jpeg' %}" width="200" height="250" class="img-responsive center-block" alt="">
                      <p class="mlkpro">Clothing</p>
                    </div>
                  </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk curdbgpro">
                  <a href="{% url 'category' 'ML' %}">
                    <div class="goodnessseccont text-center">
                      <img src="{% static 'app/images/product/accessoriesdisplay.jpeg' %}" width="200" height="250" class="img-responsive center-block" alt="">
                      <p class="mlkpro">Accessories</p>
                    </div>
                  </a>
                </div>
            </div>

        </div>

        <br><br>


    </div>
    <br/><br/>
{% endblock main-content %}


